<div class="tab-pane active" id="tabs-2">
    <div class="schedule-table-content">
        <h2>12/09 社群技術議程</h2>
        <h4>台大社會科學院</h4>
        <br />
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>
                        <strong>社科和碩講堂</strong>
                        <span>1 樓</span>
                    </th>
                    <th>
                        <strong>社科 102</strong>
                        <span>1 樓</span>
                    </th>
                    <th>
                        <strong>社科 201</strong>
                        <span>2 樓</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="break event-time">09:10-09:30</td>
                    <td class="break hover-bg" colspan="3" rowspan="1">
                        <h5>報到</h5>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">09:30-10:00</td>
                    <td class="hover-bg">
                        <h5>Opening</h5>
                        <p><span>By</span> STUDY4</p>
                    </td>
                    <td class="break hover-bg" style="background-color:lightgray;"></td>
                    <td class="break hover-bg" style="background-color:lightgray;"></td>
                </tr>
                <tr>
                    <td class="event-time">10:10 - 11:00</td>
                    <td class="break hover-bg">
                        <a href="https://dotnetconf.study4.tw/Speaker#WillHuang">
                            <h5>ASP.NET Core 8.0 全新功能探索</h5>
                            <p><span>By</span> Will Huang</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="https://dotnetconf.study4.tw/Speaker#JimmyLiao">
                            <h5>Build Generative AI Applications With Prompt Flow and Assistants API</h5>
                            <p><span>By</span> 廖聖傑</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="https://dotnetconf.study4.tw/Speaker#PaytonChou">
                            <h5>DevSecOps 最佳實踐與 GitHub Advanced Security on Azure DevOps</h5>
                            <p><span>By</span> Payton Chou</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">11:10 - 12:00</td>
                    <td class="break hover-bg">
                        <a href="https://dotnetconf.study4.tw/Speaker#AndrewWu">
                            <h5>架構師也要 DevOps - 談模型的降級驗證技巧</h5>
                            <p><span>By</span> Andrew Wu</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="https://dotnetconf.study4.tw/Speaker#YvonneShih">
                            <h5>Azure AI Studio 助 LLMOps 一臂之力</h5>
                            <p><span>By</span> Yvonne Shih</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="https://dotnetconf.study4.tw/Speaker#LinZhengxiang">
                            <h5>Entity Framework Core 8：創新與優化</h5>
                            <p><span>By</span> 林正祥</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="break event-time">12:00 - 13:20</td>
                    <td class="break hover-bg" colspan="3" rowspan="1">
                        <p>交流 & 午餐</p>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">13:20 - 14:10</td>
                    <td class="break hover-bg">
                        <a href="https://dotnetconf.study4.tw/Speaker#BillChung">
                            <h5>歷史上的今天，變化多端的 C#</h5>
                            <p><span>By</span> Bill Chung</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="https://dotnetconf.study4.tw/Speaker#Dann">
                            <h5>Microsoft 認證的學習路徑及高效考證心法</h5>
                            <p><span>By</span> 吳典璋</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="https://dotnetconf.study4.tw/Speaker#AlanTsai">
                            <h5>從 GitHub Copilot 到 Enterprise Copilot：打造符合企業需求的智能開發助手之路</h5>
                            <p><span>By</span> Alan Tsai</p>
                        </a>
                    </td>

                </tr>
                <tr>
                    <td class="event-time">14:20 - 15:10</td>
                    <td class="break hover-bg">
                        <a href="https://dotnetconf.study4.tw/Speaker#IanChan">
                            <h5>.NET x AI，基於開源的「Semantic Kernel 」SDK 建構大型自然語言 (LLM) 生成式 AI 應用</h5>
                            <p><span>By</span> Ian Chan</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="https://dotnetconf.study4.tw/Speaker#EdwardCheng">
                            <h5>Microsoft Fabric-人工智慧時代的資料平台解決方案</h5>
                            <p><span>By</span> Edward Cheng</p>
                        </a>
                    </td>


                    <td class="break hover-bg">
                        <a href="https://dotnetconf.study4.tw/Speaker#Weithenn">
                            <h5>AKSEE (Azure Kubernetes Service Edge Essential) 超輕量容器平台</h5>
                            <p><span>By</span> 王偉任</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="break event-time">15:10 - 15:30</td>
                    <td class="break hover-bg" colspan="3" rowspan="1">
                        <p>
                            交流
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">15:30 - 16:20</td>
                    <td class="break hover-bg">
                        <a href="https://dotnetconf.study4.tw/Speaker#EdwardKuo">
                            <h5>組合 Azure PaaS 的應用與看法</h5>
                            <p><span>By</span> Edward Kuo</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="https://dotnetconf.study4.tw/Speaker#Summit">
                            <h5>連 MLOps 都沒聽過的我就要用 LLMOps 是不是搞錯了什麼？</h5>
                            <p><span>By</span> 孫玉峰</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="https://dotnetconf.study4.tw/Speaker#GelisWu">
                            <h5>Blazor in .NET 8 的重大改變</h5>
                            <p><span>By</span> Gelis Wu</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">16:30 - 17:20</td>
                    <td class="break hover-bg">
                        <a href="https://dotnetconf.study4.tw/Speaker#DavidTung">
                            <h5>給你滿滿的 OpenAI API 範例集</h5>
                            <p><span>By</span> David Tung</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="https://dotnetconf.study4.tw/Speaker#JiaSin">
                            <h5>從GPT到DALL·E：在Azure上實現AI的創造性應用</h5>
                            <p><span>By</span> 陳佳新</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="https://dotnetconf.study4.tw/Speaker#MarcusTung">
                            <h5>.NET 8 x OpenTelemetry </h5>
                            <p><span>By</span> Marcus Tung</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="hover-bg" colspan="4" rowspan="1">
                        <p>
                            敬請期待明天 .NET Conf 2023 精采議程
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <p>
        <small class="footnote">* 如遇不可抗力之突發因素，主辦單位保留議程、主講人變更之權力</small>
    </p>
    <br />
    <br />
    <br />
</div>

@code {

}
