<div class="tab-pane active" id="tabs-1">
    <div class="schedule-table-content">
        <h2>12/10 社群技術議程</h2>
        <h4>台大社會科學院</h4>
        <br />
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>
                        <strong>社科和碩講堂</strong>
                        <span>1 樓</span>
                    </th>
                    <th>
                        <strong>社科 102</strong>
                        <span>1 樓</span>
                    </th>
                    <th>
                        <strong>社科 201</strong>
                        <span>2 樓</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="break event-time">09:10-09:30</td>
                    <td class="break hover-bg" colspan="3" rowspan="1">
                        <h5>報到</h5>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">09:30-10:00</td>
                    <td class="hover-bg">
                        <h5>Opening</h5>
                        <p><span>By</span> STUDY4</p>
                    </td>
                    <td class="break hover-bg" style="background-color:lightgray;"></td>
                    <td class="break hover-bg" style="background-color:lightgray;"></td>
                </tr>
                <tr>
                    <td class="event-time">10:10 - 11:00</td>
                    <td class="break hover-bg">
                        <a href="https://dotnetconf.study4.tw/Speaker#AlanTsai">
                            <h5>探索 API 開發的挑戰與解決之道</h5>
                            <p><span>By</span> Alan Tsai</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="https://dotnetconf.study4.tw/Speaker#LenLi">
                            <h5>如何打造 User 心目中的 Excel - VSTO 開發經驗分享</h5>
                            <p><span>By</span> Len Li</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="https://dotnetconf.study4.tw/Speaker#BruceChen">
                            <h5>Visual Studio 2022 開發工具大補帖</h5>
                            <p><span>By</span> Bruce Chen</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">11:10 - 12:00</td>
                    <td class="break hover-bg">
                        <a href="https://dotnetconf.study4.tw/Speaker#YinSangzhi">
                            <h5>榨出大型語言模型最大潛力的 Prompt 思考術</h5>
                            <p><span>By</span> 尹相志</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="https://dotnetconf.study4.tw/Speaker#RobersonLiou">
                            <h5>Deploy Azure Function with KEDA on AKS</h5>
                            <p><span>By</span> Roberson Liou</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="https://dotnetconf.study4.tw/Speaker#Mike">
                            <h5>無密碼時代降臨！使用 Passkeys 打造無密碼驗證服務</h5>
                            <p><span>By</span> 黃升煌 Mike</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="break event-time">12:00 - 13:20</td>
                    <td class="break hover-bg" colspan="3" rowspan="1">
                        <p>交流 & 午餐</p>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">13:20 - 14:10</td>
                    <td class="break hover-bg">
                        <a href="https://dotnetconf.study4.tw/Speaker#KevinYang">
                            <h5>有在關注 AOT 嗎? You Should</h5>
                            <p><span>By</span> Kevin Yang</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="https://dotnetconf.study4.tw/Speaker#BenChen">
                            <h5>投資？我都交給我的高級伴讀書僮 - GPT！</h5>
                            <p><span>By</span> 陳奎銘</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="https://dotnetconf.study4.tw/Speaker#Phi">
                            <h5>Azure Kubernetes Services 永續性軟體工程設計方針</h5>
                            <p><span>By</span> 黃秉鈞</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">14:20 - 15:10</td>
                    <td class="break hover-bg">
                        <a href="https://dotnetconf.study4.tw/Speaker#JamesTsai">
                            <h5>從 Xamarin 到 .NET MAUI的全平台領域展開</h5>
                            <p><span>By</span> James Tsai</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="https://dotnetconf.study4.tw/Speaker#RyanChung">
                            <h5>有沒有一種可能，你需要的只是 Azure AI 而不是 OpenAI</h5>
                            <p><span>By</span> Ryan Chung</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="https://dotnetconf.study4.tw/Speaker#hwchiu">
                            <h5>不懂 CNI 別說你在玩 AKS</h5>
                            <p><span>By</span> 邱宏瑋</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="break event-time">15:10 - 15:30</td>
                    <td class="break hover-bg" colspan="3" rowspan="1">
                        <p>
                            交流
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">15:30 - 16:20</td>
                    <td class="break hover-bg">
                        <a href="https://dotnetconf.study4.tw/Speaker#BaoChengyou">
                            <h5>除了刻鋼板表單CRUD懂C#也能打造美幻3D</h5>
                            <p><span>By</span> 鮑承佑</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="https://dotnetconf.study4.tw/Speaker#KoKo">
                            <h5>在 Azure Machine Learning 上學習 LangChain</h5>
                            <p><span>By</span> Ko Ko</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="https://dotnetconf.study4.tw/Speaker#JimmyHo">
                            <h5>徹底搞懂 Blazor 的 Service Worker 機制</h5>
                            <p><span>By</span> Jimmy Ho</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="hover-bg" colspan="4" rowspan="1">
                        <p>
                            感謝參與 .NET Conf 2023
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <p>
        <small class="footnote">* 如遇不可抗力之突發因素，主辦單位保留議程、主講人變更之權力</small>
    </p>
    <br />
    <br />
    <br />
</div>

@code {

}
