<div class="tab-pane active" id="tabs-1">
    <div class="schedule-table-content">
        <h2>12/15 社群技術議程</h2>
        <h4>台中沃茲新創空間 - 站前館</h4>
        <br />
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>
                        <strong>會場 A</strong>
                        @* <span>1 樓</span> *@
                    </th>
                    <th>
                        <strong>會場 B</strong>
                        @* <span>1 樓</span> *@
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="break event-time">08:30-09:00</td>
                    <td class="break hover-bg" colspan="2" rowspan="1">
                        <h5>報到</h5>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">09:00-09:10</td>
                    <td class="hover-bg">
                        <h5>Opening</h5>
                        <p><span>By</span> STUDY4</p>
                    </td>
                    <td class="break hover-bg" style="background-color:lightgray;"></td>
                </tr>
                <tr>
                    <td class="event-time">09:10 - 09:50</td>
                    <td class="break hover-bg">
                        <a href="#JiaSin">
                            <h5>用 AI Agent 分析萬人活動及校正異常</h5>
                            <p><span>By</span> 陳佳新</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="#BillChung">
                            <h5>每年改一版，到底煩不煩</h5>
                            <p><span>By</span> Bill Chung</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">10:00 - 10:40</td>
                    <td class="break hover-bg">
                        <a href="#JimmyHo">
                            <h5>系統上線後的問題排查反思系統設計</h5>
                            <p><span>By</span> Jimmy Ho</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="#">
                            <h5>以程式碼撰寫符合 OpenAPI 規範的 Web API 檔案：使用 TypeSpec</h5>
                            <p><span>By</span> Kei Liao</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">10:50 - 11:30</td>
                    <td class="break hover-bg">
                        <a href="#Chuck">
                            <h5>咱一路建置 Observability 的風風雨雨</h5>
                            <p><span>By</span> 陳復楷</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="#JamesFu">
                            <h5>在 OpenAI 中加入一點創意讓 ESG 更為輕鬆</h5>
                            <p><span>By</span> James Fu</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="break event-time">11:30 - 13:00</td>
                    <td class="break hover-bg" colspan="2" rowspan="1">
                        <p>交流 & 午餐</p>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">13:00 - 13:40</td>
                    <td class="break hover-bg">
                        <a href="#YinSangzhi">
                            <h5>Paradoxism：將偽代碼 prompt 變身為適合用於自動化的真代碼</h5>
                            <p><span>By</span> 尹相志</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="#WillHuang">
                            <h5>ASP.NET Core 9.0 全新功能探索</h5>
                            <p><span>By</span> Will Huang</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">13:50 - 14:30</td>
                    <td class="break hover-bg">
                        <a href="#Summit">
                            <h5>TBD</h5>
                            <p><span>By</span> 孫玉峰</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="#BaoChengyou">
                            <h5>PowerShell TDD 起步走</h5>
                            <p><span>By</span> 鮑承佑</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="break event-time">14:30 - 15:00</td>
                    <td class="break hover-bg" colspan="2" rowspan="1">
                        <p>
                            交流
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">15:00 - 15:40</td>
                    <td class="break hover-bg">
                        <a href="#EvanceKao">
                            <h5>TBD</h5>
                            <p><span>By</span> Evance Kao</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="#">
                            <h5>TBD</h5>
                            <p><span>By</span> 鈦坦講師</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">15:50 - 16:30</td>
                    <td class="break hover-bg">
                        <a href="#AlanTsai">
                            <h5>初探 Drasi：微軟開源的 Data Change Processing Platform</h5>
                            <p><span>By</span> Alan Tsai</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="#ChrisLiu">
                            <h5>TBD</h5>
                            <p><span>By</span> Chris Liu</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="hover-bg" colspan="4" rowspan="1">
                        <p>
                            感謝參與 .NET Conf 2024
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <p>
        <small class="footnote">* 如遇不可抗力之突發因素，主辦單位保留議程、主講人變更之權力</small>
    </p>
    <br />
    <br />
    <br />
</div>

@code {

}
