<div class="tab-pane active" id="tabs-2">
    <div class="schedule-table-content">
        <h2>12/14 社群技術議程</h2>
        <h4>台中沃茲新創空間 - 站前館</h4>
        <br />
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>
                        <strong>會場 A</strong>
                        @* <span>1 樓</span> *@
                    </th>
                    <th>
                        <strong>會場 B</strong>
                        @* <span>1 樓</span> *@
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="break event-time">08:30-09:00</td>
                    <td class="break hover-bg" colspan="2" rowspan="1">
                        <h5>報到</h5>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">09:00-09:10</td>
                    <td class="hover-bg">
                        <h5>Opening</h5>
                        <p><span>By</span> STUDY4</p>
                    </td>
                    <td class="break hover-bg" style="background-color:lightgray;"></td>
                </tr>
                <tr>
                    <td class="event-time">09:10 - 09:50</td>
                    <td class="break hover-bg">
                        <a href="Speaker#AndrewWu">
                            <h5>.NET RAG 神器 - Microsoft Kernel Memory 的應用</h5>
                            <p><span>By</span> Andrew Wu</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="Speaker#EdwardKuo">
                            <h5>利用 Azure 實現平台工程：從概念到實踐</h5>
                            <p><span>By</span> Edward Kuo</p>
                            <span class="translate-middle badge rounded-pill bg-warning text-body">
                                no playback
                            </span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">10:00 - 10:40</td>
                    <td class="break hover-bg">
                        <a href="Speaker#KoKo">
                            <h5>從 MLOps 到 LLMOps 的典範轉移</h5>
                            <p><span>By</span> Ko Ko</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="Speaker#MikeHuang">
                            <h5>Angular Signals 高效能開發演練</h5>
                            <p><span>By</span> Mike Huang</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">10:50 - 11:30</td>
                    <td class="break hover-bg">
                       
                        <a href="Speaker#BenChen">
                            <h5>投資書僮進化中～GraphRAG！</h5>
                            <p><span>By</span> 陳奎銘</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="Speaker#MarcusTung">
                            <h5>.NET x Keycloak：從 0 到 1 建構身份驗證與授權解決方案</h5>
                            <p><span>By</span> Marcus Tung</p>
                            <span class="translate-middle badge rounded-pill bg-warning text-body">
                                no playback
                            </span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="break event-time">11:30 - 13:00</td>
                    <td class="break hover-bg" colspan="2" rowspan="1">
                        <p>交流 & 午餐</p>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">13:00 - 13:40</td>
                    <td class="break hover-bg">
                        <a href="Speaker#JimmyHo">
                            <h5>系統上線後的問題排查，反思系統設計</h5>
                            <p><span>By</span> Jimmy Ho</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="Speaker#BruceChen">
                            <h5>以審校的角度看 Uncle Bob《無瑕的程式碼 軟體工匠篇》烏托邦</h5>
                            <p><span>By</span> 陳傳興</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">13:50 - 14:30</td>
                    <td class="break hover-bg">
                        <a href="Speaker#Weithenn">
                            <h5>LLM 初體驗 Running Microsoft Phi-3 locally</h5>
                            <p><span>By</span> 王偉任</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="Speaker#DavidTung">
                            <h5>大型語言模型（LLM）對軟體開發的影響</h5>
                            <p><span>By</span> David Tung</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="break event-time">14:30 - 15:00</td>
                    <td class="break hover-bg" colspan="2" rowspan="1">
                        <p>
                            交流
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">15:00 - 15:40</td>
                    <td class="break hover-bg">
                        <a href="Speaker#CaiWenlong">
                            <h5>「一聲相識」：使用Azure OpenAI聊天完成與語音服務建立具聽說功能的客服聊天機器人</h5>
                            <p><span>By</span> 蔡文龍/歐志信</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="Speaker#WangQuanfu">
                            <h5>全面掌握 Swagger 檔案的「念」能力：讓你的 API 無懈可擊！</h5>
                            <p><span>By</span> 王泉富</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">15:50 - 16:30</td>
                    <td class="break hover-bg">
                        <a href="Speaker#IanChan">
                            <h5>解密 AI Agent 開發：用 .NET 驅動下一代生成式應用</h5>
                            <p><span>By</span> Ian Chen</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="Speaker#JamesTsai">
                            <h5>在一種 A.I. 各桌表述也精煉著所用的 A.I.?</h5>
                            <p><span>By</span> James Tsai</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="hover-bg" colspan="4" rowspan="1">
                        <p>
                            敬請期待明天 .NET Conf 2024 精采議程
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <p>
        <small class="footnote">* 如遇不可抗力之突發因素，主辦單位保留議程、主講人變更之權力</small>
    </p>
    <br />
    <br />
    <br />
</div>

@code {

}
