<!-- About Section Begin -->
<section class="home-about-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 position-relative">
                <img src="./img/dotnet-bot.svg" width="500" alt="" class="position-sticky sticky-top">
                @*<div class="ha-pic">
                </div>*@
            </div>
            <div class="col-lg-6">
                <div class="ha-text">
                    <h2>什麼是 .NET Conf？</h2>
                    <p>
                        .NET Conf 是 .NET 社群的年度重要活動，微軟 .NET 團隊以及 .NET Foundation 將於 11 月份舉辦 .NET Conf 線上活動，連續三天現場直播 .NET 相關議程，介紹最新技術與其應用，.NET 8.0 也即將在 .NET Conf 發布！為了讓台灣開發人員也能彼此交流 .NET 技術與心得，台中最大微軟技術社群 STUDY4 將於 12/14 - 15 舉辦為期兩天的 .NET Conf Local Event，邀請台灣開發人員共襄盛舉。
                    </p>
                    <h2>這次 .NET Conf 活動有什麼？</h2>
                    <p>社群技術議程中，會與台灣的開發人員一起探討 .NET 最新技術與其相關應用，您將可以學習到最新的 .NET、ASP.NET Core、Blazor、C#...等開發技術，除此之外，還安排了雲端與多元的開發技術議程。無論您是初學者、轉換跑道者、還是資深的技術工程/資料分析師，這裡皆有適合您的議程，讓我們共同學習、提出問題與講師交流，藉此精進您的開發技能。</p>
                    <p>身為開發者的您，千萬別錯過 12/14 - 15 這場為期兩天的開發盛會！</p>
                    <h2>.NET 可以做甚麼？</h2>
                    <p>您可以使用 .NET 開發技術來建置各種平台和裝置應用，舉凡 Web、Mobile、Desktop、Games、Service 和 Libraries，.NET 都是實現您創意的最佳平台！</p>
                    <ul>
                        <li><span class="icon_check"></span> Desktop</li>
                        <li><span class="icon_check"></span> Web</li>
                        <li><span class="icon_check"></span> Cloud</li>
                        <li><span class="icon_check"></span> Mobile</li>
                        <li><span class="icon_check"></span> Gaming</li>
                        <li><span class="icon_check"></span> IoT</li>
                        <li><span class="icon_check"></span> AI</li>
                    </ul>
                    <a href="https://docs.microsoft.com/zh-tw/dotnet/" class="ha-btn">探索 .NET 開發潛能</a>
                </div>
            </div>
        </div>
        @* <div class="row">
            <div class="col-lg-6">
                <img src="./img/live-stream.svg" width="500" alt="">
                <div class="ha-pic"></div>
            </div>
            <div class="col-lg-6">
                <div class="ha-text">
                    <h2>線上直播</h2>
                    <p>今年我們採全線上的方式來舉辦 .NET Conf Local Event，讓您可以在家中輕鬆觀看 .NET 相關議程，並且可以與講師與其他開發者進行線上互動。</p>
                    <h3>直播須知</h3>
                    <ul>
                        <li><span class="icon_check"></span> 直播票請使用 Google 帳號</li>
                        <li><span class="icon_check"></span> 7 日內 YouTube 無限制回看議程內容</li>
                    </ul>
                </div>
            </div>
        </div> *@
    </div>
</section>
<!-- About Section End -->
@code {

}
