<!-- Contact Section Begin -->
<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>活動地點</h2>
                    <h3>台中沃茲新創空間 - 站前館</h3>
                    <span>台中東區自由二街 91 號</span>
                </div>
                <div class="cs-text">
                    <div class="ct-address">
                        <span>位於台中公園正對面，緊鄰一中，火車站、秀泰廣場</span>
                        <p><strong>公車</strong></p>
                        <span>1. 步行2分鐘可抵達公車站(臺中公園(雙十路)</span>
                        <span>2. 步行4分鐘可抵達公車站(精武雙十路口)</span>
                        <span>3. 步行5分鐘可抵達公車站(臺灣體大游泳池)</span>
                        <br />
                        <p><strong>附近停車場資訊</strong></p>
                        <span>1. 步行1分鐘可抵達（一中停車場）</span><br />
                        <span>2. 步行1分鐘可抵達(精武廣場停車場)</span>
                        <span>3. 步行6分鐘可抵達(干城停車場)</span>
                        <span>4. 步行6分鐘可抵達(CITY PARKING 城市車旅停車場 干城立體站)</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="cs-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1873.7248471214898!2d120.6869048886307!3d24.14482121353947!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34693d528c8ae2cb%3A0x7cd9a4bf47b9e758!2z5rKD6Iyy5paw5Ym156m66ZaTIFdvcmRzIExpdmUgfCDnq5nliY3ppKg!5e0!3m2!1szh-TW!2stw!4v1726763738975!5m2!1szh-TW!2stw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                    @* <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.6906275685947!2d121.5592580153788!3d25.04457104402076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abbf139899e7%3A0x137e82fedcfa1839!2zMTEw5Y-w5YyX5biC5L-h576p5Y2A6I-45bug6LevODjomZ82!5e0!3m2!1szh-TW!2stw!4v1604433506462!5m2!1szh-TW!2stw" width="600" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> *@
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->

@code {

}
