<!-- Pricing Section Begin -->
<section class="pricing-section spad" style="background-image: url('./img/pricing-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>議程票價</h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-8">
                <div class="price-item">
                    <h4>早鳥票</h4>
                    <div class="pi-price">
                        @* <h2><span>$</span>1,600</h2> *@
                        <h4>Comming Soon</h4>
                    </div>
                    <ul>
                        <li>12/14 -15 社群技術議程</li>
                        <li>線下議程，熱血支持！</li>
                        <li>回放權益，7 日有效！</li>
                        <li>滿滿技術乾貨，打敗 AI 指日可待</li>
                    </ul>
                    <a href="https://study4-tw.kktix.cc/events/dotnetConf2024" target="_blank" class="price-btn">立即購票<span class="arrow_right"></span></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-8">
                <div class="price-item top-rated">
                    <div class="tr-tag">
                        <i class="fa fa-star"></i>
                    </div>
                    <h4>限量盲鳥</h4>
                    <div class="pi-price">
                        @* <h2><span>$</span>1,300</h2> *@
                        <h4>Comming Soon</h4>
                    </div>
                    <ul>
                        <li>12/14 -15 社群技術議程</li>
                        <li>線下議程，熱血支持</li>
                        <li>回放權益，7 日有效！</li>
                        <li>數量有限，售完為止</li>
                    </ul>
                    <a href="https://study4-tw.kktix.cc/events/dotnetConf2024" target="_blank" class="price-btn">立即報名<span class="arrow_right"></span></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-8">
                <div class="price-item">
                    <h4>熱血票</h4>
                    <div class="pi-price">
                        @* <h2><span>$</span>2,000</h2> *@
                        <h4>Comming Soon</h4>
                    </div>
                    <ul>
                        <li>12/14 -15 社群技術議程</li>
                        <li>線下議程，熱血支持</li>
                        <li>回放權益，7 日有效！</li>
                        <li>各種豐富技術議程，讓你完成進化</li>
                    </ul>
                    <a href="https://study4-tw.kktix.cc/events/dotnetConf2024" target="_blank" class="price-btn">立即購票<span class="arrow_right"></span></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-8">
                <div class="price-item top-rated">
                    <h4>回放票</h4>
                    <div class="pi-price">
                        @* <h2><span>$</span>1,300</h2> *@
                        <h4>Comming Soon</h4>
                    </div>
                    <ul>
                        <li>12/14 -15 社群技術議程</li>
                        <li>時光倒流，回放議程</li>
                        <li>各種豐富技術議程，讓你完成進化</li>
                    </ul>
                    <a href="https://study4-tw.kktix.cc/events/dotnetConf2024" target="_blank" class="price-btn">立即購票<span class="arrow_right"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Pricing Section End -->

@code {

}
