@page "/AttendeeNotice/1218"
    <!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>12/18 Community Day 行前通知</h2>
                    <h4>12/18 Community Day Attendee Notice</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- About Section Begin -->
<section class="about-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-text">
                    <p>
                        非常感謝您報名 2020 年 12 月 18 日（六）由 Microsoft 台灣微軟、STUDY4、ITHome 聯合舉辦的 .NET Conf 2023 Taiwan │
                        Community Day 活動。
                    </p>
                    <p>活動當天大會服務台於上午 09:00 開放報到，報到時請出示您的報到 QRcode 以便服務人員為您辦理報到。<span style="color:red">活動報名踴躍，敬請提早報到參加活動</span>，謝謝！</p>
                    <p>
                        <ul>
                            <li><span class="icon_check"></span> <strong>活動日期</strong>：12 月 18 日（六）09:00 ~ 17:30</li>
                            <li><span class="icon_check"></span> <strong>報到時間</strong>：09:00 ~ 09:30</li>
                            <li><span class="icon_check"></span> <strong>報到地點</strong>：臺北文創大樓 6 樓大會服務台（臺北市信義區菸廠路 88 號）</li>
                            <li><span class="icon_check"></span> <strong>交通資訊</strong>：<a href="http://www.taipeinewhorizon.com.tw/TNH/TrafficInformation">http://www.taipeinewhorizon.com.tw/TNH/TrafficInformation</a></li>
                            <li>
                                <span class="icon_check"></span> <strong>特別提醒</strong>：<br />
                                <ul style="padding-left:30px">
                                    <li><span class="arrow_right"></span> Community Day 中午提供餐盒，讓你馬不停蹄地參加下午的社群議程。</li>
                                    <li><span class="arrow_right"></span> 因本次研討會採取分堂而且教室座位有限，<span style="color:red">課程採取先入場先參加方式。</span></li>
                                    <li><span class="arrow_right"></span> 主辦單位保留本議程內容及講師異動之權利，詳細資訊請依活動網站公告為主。</li>
                                </ul>
                            </li>
                        </ul>
                    </p>
                    <p>
                        <div class="cs-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.6906275685947!2d121.5592580153788!3d25.04457104402076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abbf139899e7%3A0x137e82fedcfa1839!2zMTEw5Y-w5YyX5biC5L-h576p5Y2A6I-45bug6LevODjomZ82!5e0!3m2!1szh-TW!2stw!4v1604433506462!5m2!1szh-TW!2stw" width="600" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        </div>
                    </p>
                    <br />
                    <h3>為遵守中央疫情指揮中心的防疫措施，敬請觀展來賓配合以下事項： </h3>
                    <p>
                        <ul>
                            <li><span class="icon_check"></span> 本大會配合實聯制措施，與會來賓必須完成報名，相關資訊敬請務必照實填寫。</li>
                            <li><span class="icon_check"></span> 敬請配合體溫檢測，體溫高於 37.5 度（含）以上者謝絕入場。</li>
                            <li><span class="icon_check"></span> 會前 14 天內具國外旅遊史者，謝絕入場。</li>
                            <li><span class="icon_check"></span> 敬請一律配戴口罩進入展場、會議室，未能配合者謝絕入場。</li>
                            <li><span class="icon_check"></span> 敬請保持適當社交距離，並常加使用酒精消毒或洗手。</li>
                            <li><span class="icon_check"></span> 若曾接觸來自境外人士，必須符合中央流行疫情指揮中心檢疫相關規定方可入場。</li>
                            <li><span class="icon_check"></span> 請勿將入場識別證借給他人使用，避免「實聯制」之紀錄與事實不符。</li>
                        </ul>
                    </p>
                    <br />
                    <h3>填寫線上問卷兌換好禮！</h3>
                    <p>填寫大會線上問卷，憑完成畫面即可至大會服務台兌換紀念品乙份！數量有限，換完為止。（主辦單位保留修改、變更活動內容細節之權利。）</p>
                    <br />
                    <h3>注意事項</h3>
                    <p>
                        <ul>
                            <li><span class="icon_check"></span> 若報名完成之來賓因種種事務須委請代理人出席，請預先通知主辦單位，以利報到確認。</li>
                            <li><span class="icon_check"></span> 主辦單位保留議程以及主講人之變更權利。</li>
                            <li><span class="icon_check"></span> 本活動若適逢天災等不可抗拒之因素（依人事行政局停止上班之公告而定），將延期舉辦時間另行通知。</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->

@code {

}
