@page "/Anti-Harassment-Policy"

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>反騷擾守則</h2>
                    <h4>Anti Harassment Policy</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- About Section Begin -->
<section class="about-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-text">
                    <p>.NET Conf 致力於提供每個與會者一個自在的環境，不論性別、性傾向、殘疾、外貌、身材、種族或宗教。我們絕不容忍任何人騷擾與會者，無論任何形式。在會議場地使用帶有性意圖的言語及圖像都是不恰當的行為，包括在議程進行時。與會者若違反規定，大會將視情況予以處置或驅離會場並且不退還費用。</p>
                    <p>騷擾包含了涉及性別、性傾向、殘疾、外貌、身材、種族、宗教等語帶冒犯的評論；在公共場合展示帶有性意圖的圖像；蓄意恐嚇、跟蹤、尾隨、騷擾攝影與錄影人員；持續干擾議程或其他活動進行；不適當的肢體接觸；不恰當地展露性感。</p>
                    <p>參展單位、贊助商或廠商在會場或攤位也同樣必須遵守反騷擾守則，特別是參展單位不得使用性意圖的圖像、活動或是其他的方式。攤位工作人員(包含志工)不得使用性意圖的服裝/制服/扮裝，或其他方式來營造性意圖的環境。</p>
                    <p>如果與會者發生騷擾行為，大會可採取任何適合的行動，包含警告或將騷擾者驅離會場，並且不退還費用。</p>
                    <p>如果你被騷擾，或是注意到有其他人被騷擾，還是有任何覺得不妥的地方，請立即告知大會工作人員。</p>
                    <p>你可以透過工作人員識別證找到大會工作人員。工作人員將樂於協助與會者聯絡會場警衛或是法律相關單位，提供護送或其他協助，讓遭受騷擾的人可以在會議期間感到安全。我們重視你的參與。</p>
                    <p>我們期望與會者在大會場合以及相關社交活動中遵守行為守則。</p>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <div class="about-text">
                    <p>.NET Conf is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, sexual orientation, disability, physical appearance, body size, race, or religion. We do not tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for any conference venue, including talks. Conference participants violating these rules may be sanctioned or expelled from the conference without a refund at the discretion of the conference organizers.</p>
                    <p>Harassment includes offensive verbal comments related to gender, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention. Participants asked to stop any harassing behavior are expected to comply immediately.</p>
                    <p>Exhibitors in the expo hall, sponsor or vendor booths, or similar activities are also subject to the anti-harassment policy. In particular, exhibitors should not use sexualized images, activities, or other material. Booth staff (including volunteers) should not use sexualized clothing/uniforms/costumes, or otherwise create a sexualized environment.</p>
                    <p>If a participant engages in harassing behavior, the conference organizers may take any action they deem appropriate, including warning the offender or expulsion from the conference with no refund.</p>
                    <p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately.</p>
                    <p>Conference staff can be identified by distinct staff badges. Conference staff will be happy to help participants contact hotel/venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.</p>
                    <p>We expect participants to adhere to the code of conduct at all conference venues and conference-related social events.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->

@code {

}
