@page "/Code-Of-Conduct"

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>行為守則</h2>
                    <h4>Code Of Conduct</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- About Section Begin -->
<section class="about-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-text">
                    <p>我是 .NET Conf 的參與者，透過和其他會眾互相學習、分享，努力提昇自己和所處的產業。與會體驗是由我和其他會眾共同創造。我已經準備好為自己和其他與會者，貢獻我的活力、參與和感受來創造最好的體驗。</p>
                    <p>我是為了與人互動而來到 .NET Conf 。我明白具暗示性或貶抑的圖像、言語會冒犯人而讓人不自在。我同時也明白每個人都有自己的禁忌和敏感之處。在大會活動期間，當被告知某些事冒犯到別人或是讓人無法接受時，我將無條件接受。</p>
                    <p>我絕對不會故意騷擾或冒犯其他與會者，無論性別、性傾向、殘疾、外貌、身材、種族或宗教，也不會坐視其他參與者被騷擾或冒犯。如果我知道有人感到不自在或不安全，我將會告知那些冒犯的人並通知大會。</p>
                    <p>如果我遭受騷擾或冒犯，我會告知身邊讓我有安全感的人以及大會。當我感到安全時，我會根據自己的判斷，告知那些冒犯者具體不當的行為，並希望對方是出於善意和無知的, 但我沒有義務這樣做。</p>
                    <p>我明白每個人都是不同的，我會視他人行為的真誠程度採取寬恕的態度。不過首要之事是保護我與其他參與者的安全。我將毫不猶服或毫不保留地採舉這樣的行動，直到所有人對於安全都不再有疑慮為止。</p>
                    <p>我相信 .NET Conf 大會和與會者將會為所有人共同營造最好的體驗，如同我一樣。我相信 .NET Conf 能讓人更具力量，而我不會忘記我在這裡獲取力量來建立一個安全、成長的環境。如果我或其他與會者違反了這個活動的精神，我期望大會挺身保護與會者，將違反者驅離並連絡相關當局。</p>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <div class="about-text">
                    <p>I am an attendee at .NET Conf, learning from and sharing with other .NET Conf attendees in an effort to better myself and my industry. I cocreate the experience with fellow attendees. I am prepared to give my energy, presence and sensitivity to creating the best possible experience for myself and others.</p>
                    <p>I am coming to .NET Conf to interact with people. I understand that imagery and language which is suggestive or derogatory will offend and make people uncomfortable. I also understand that people may have boundaries and sensibilities different from my own. I will accept without question when informed that something is offensive or unacceptable in the context of the .NET Conf event.</p>
                    <p>I will never intentionally harass or offend another attendee regardless of gender, sexual orientation, disability, appearance, size, race or religion and will not abide another attendee being harassed or offended. If I am aware that anyone is uncomfortable or unsafe, I will notify those giving offense and the .NET Conf event organizers.</p>
                    <p>If I am offended or harassed, I will inform people around me who make me feel safe and the event organizers. If I feel safe, at my discretion, I will inform those giving offense of the specific actions with the hope that the other party is well-intentioned and ignorant, but I am under no obligation to do so.</p>
                    <p>I understand that people are different, and I attempt to be forgiving of other actions at the level of their sincere intent, but my priority is protecting my safety and the safety of others. I will act without hesitation or reservation until there are no question of the safety of all parties.</p>
                    <p>I trust the .NET Conf organizers and attendees will co-create the best possible experience for everyone involved, as I will. I believe .NET Conf is about empowering people and I will not forget I am empowered to create a safe and nurturing environment. If I or any other attendee violates this aspect of the event, I expect the conference organizers to protect the attendees by direct action, including expelling those in violation and contacting the proper authorities.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->

@code {

}
