@inject IJSRuntime JSRuntime

<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-text">
                    <div class="ft-logo">
                        <a href="#" class="footer-logo"><img src="./img/footer-logo.svg" alt=""></a>
                    </div>
                    <ul>
                        <li><NavLink href="Session">議程</NavLink></li>
                        <li><NavLink href="Speaker">講師</NavLink></li>
                        <li><NavLink href="Organizer">主辦單位</NavLink></li>
                        @*<li><NavLink href="Sponsor">贊助廠商</NavLink></li>*@
                        <li><NavLink href="Code-Of-Conduct">行為守則</NavLink></li>
                        <li><NavLink href="Anti-Harassment-Policy">反騷擾守則</NavLink></li>
                    </ul>
                    <div class="copyright-text">
                        <p>
                            Copyright &copy;
                            2024 All rights reserved | This website is made with <a href="https://docs.microsoft.com/zh-tw/aspnet/core/blazor/" target="_blank">Blazor Webassembly</a> by STUDY4
                        </p>
                    </div>
                    <div class="ft-social">
                        <a href="https://study4.tw" target="_blank"><i class="fa fa-home"></i></a>
                        <a href="https://www.facebook.com/Study4.tw/" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.facebook.com/groups/study4tw/" target="_blank"><i class="fa fa-users"></i></a>
                        <a href="https://www.youtube.com/channel/UCAEW7eWiDoq5syA0MnfR-SA" target="_blank"><i class="fa fa-youtube-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

@code {

}
