@page "/Sponsor"
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>贊助廠商</h2>
                    <h4>Sponsor</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Sponsor Section Begin -->
<section class="home-about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="ha-pic">
                    <img src="./img/sponsors/redhat-logo.jpg" width="500" alt="Red Hat">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ha-text">
                    <h2>Red Hat, Inc.</h2>
                    <h2>愛爾蘭商紅帽軟體股份有限公司</h2>
                    <p>
                        紅帽公司（Red Hat）是全球領先的開放原始碼軟體解決方案廠商，運用開發社群的力量提供可靠並且高效能的雲端、Linux、中介軟體、儲存和虛擬化技術，同時也提供備受業界肯定的技術支援、訓練和諮詢服務。 Red Hat 在全球的企業用戶、合作夥伴和開放原始碼社群中扮演橋樑的角色，協助創造相關的創新技術，將各種資源運用於成長的領域，並讓客戶為未來的 IT 架構座充份的準備。追蹤台灣紅帽獲得最新活動消息
                    </p>
                    <p>
                        <a href="https://www.redhat.com/" target="_blank" class="ha-btn">https://www.redhat.com/</a>
                    </p>
                </div>
            </div>
        </div>
        <br />
        <hr />
        <br />
        <div class="row">
            <div class="col-lg-6">
                <div class="ha-pic">
                    <img src="./img/sponsors/tsmc-logo.svg" width="500" alt="TSMC">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ha-text">
                    <h2>TSMC</h2>
                    <h2>台積電</h2>
                    <p>
                        台積公司成立於 1987 年，率先開創了專業積體電路製造服務之商業模式，並一直是全球最大的專業積體電路製造服務公司。台積公司以業界先進的製程技術及設計解決方案組合支援一個蓬勃發展的客戶及夥伴的生態系統，以此釋放全球半導體產業的創新。2019 年，台積公司預計提供約 1,200 萬片之十二吋約當晶圓的年產能，來自台灣、美國和中國晶圓廠區的產能。並提供最廣泛的製程技術，全面涵蓋自（大於）0.5 微米製程至最先進的製程技術，即現今的 7 奈米製程。台積公司係首家提供 7 奈米製程技術為客戶生產晶片的專業積體電路製造服務公司，其企業總部位於臺灣新竹。
                    </p>
                    <p>
                        <a href="https://www.tsmc.com/" target="_blank" class="ha-btn">台灣積體電路製造</a>
                    </p>
                    <p>
                        <a href="https://www.tsmc.com/static/chinese/careers/index.htm" target="_blank" class="ha-btn">加入我們的行列</a>
                    </p>
                </div>
            </div>
        </div>
        <br />
        <hr />
        <br />
        <div class="row">
            <div class="col-lg-6">
                <div class="ha-pic">
                    <img src="./img/sponsors/trend-micro-logo.jpg" width="500" alt="Trend Micro">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ha-text">
                    <h2>Trend Micro</h2>
                    <h2>趨勢科技</h2>
                    <p>
                        趨勢科技為資訊安全解決方案全球領導廠商，致力建立一個安全的資訊交換世界。我們專為消費者、企業及政府機構設計的創新解決方案，能為資料中心、雲端工作負載、網路、端點裝置提供多層式安全防護。我們的產品皆彼此整合、共享威脅情報，提供環環相扣的威脅防禦與集中式的掌握及調查能力，實現更好、更快的防護。趨勢科技全球共超過 6,000 名員工，遍及 50 個國家，並擁有全世界最先進的全球威脅研究及情報，是企業保護連網環境的最佳夥伴。
                    </p>
                    <p>
                        <a href="https://www.trendmicro.com/zh_tw/about/careers.html" target="_blank" class="ha-btn">加入我們的行列</a>
                    </p>
                    <p>
                        <a href="https://www.facebook.com/tmfreshman" target="_blank" class="ha-btn">趨勢科技 Trend Micro Careers Taiwan</a>
                    </p>
                </div>
            </div>
        </div>
        <br />
        <hr />
        <br />
        <div class="row">
            <div class="col-lg-6">
                <div class="ha-pic">
                    <img src="./img/sponsors/91APP-logo.jpg" width="500" alt="91APP">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ha-text">
                    <h2>91APP, Inc.</h2>
                    <h2>九易宇軒股份有限公司</h2>
                    <p>
                        一群致力於電商技術創新與分享的 91APP 軟體工程師，為提倡知識的交流與累積而成立的技術網絡。從前端、後端、DevOps、Agile 敏捷、到雲端、軟體架構設計，我們擁有不同的技術專長，喜歡一起研究、討論，成員經常出沒在各大線上線下的技術社群。2020 年開始走出辦公室，舉辦各式活動，以電商產品策略與技術的角度與大家交流。歡迎各領域產品服務與技術專業的人才，加入我們的討論，一起飛向浩瀚無垠的技術宇宙！
                    </p>
                    <p>
                        <a href="https://www.104.com.tw/company/1a2x6bio5g" target="_blank" class="ha-btn">加入我們的行列</a>
                    </p>
                </div>
            </div>
        </div>
        <br />
        <hr />
        <br />
        <div class="row">
            <div class="col-lg-6">
                <div class="ha-pic">
                    <img src="./img/sponsors/wishing-soft_logo.jpg" width="500" alt="Wishing Soft">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ha-text">
                    <h2>威煦軟體開發有限公司</h2>
                    <h2>Wishing-Soft</h2>
                    <p>
                        取之於社群，回饋於社群
                        身為一家生來就以稱霸亞洲為目標的軟體產品公司，有這麼棒的技術活動我們當然不能缺席。
                        威煦軟體是一家專注發展環安衛與永續治理管理軟體的公司，並透過與一流國際企業的合作與交流，持續讓產品不斷進化。
                        最近訂單爆滿中，歡迎熱愛學習，想挑戰國際市場的小夥伴們一起來交流~
                    </p>
                    <p>
                        <a href="https://www.wishingsoft.com/" target="_blank" class="ha-btn">https://www.wishingsoft.com/</a>
                    </p>
                    <p>
                        <a href="https://www.104.com.tw/company/1a2x6biwzn" target="_blank" class="ha-btn">人才招募</a>
                    </p>
                </div>
            </div>
        </div>
        <br />
        <hr />
        <br />
        <div class="row">
            <div class="col-lg-6">
                <div class="ha-pic">
                    <img src="./img/sponsors/jetbrains-logo.svg" width="500" alt="JetBrains">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ha-text">
                    <h2>JetBrains</h2>
                    <p>
                        JetBrains 是知名 IntelliJ IDEA、ReSharper、Rider、WebStorm…等 IDE 工具及 Kotlin 程式語言背後的公司。過去 20 年來我們專注於生產能提升開發效率的工具，透過智能提示、快速修正，自動化地處理繁瑣且重複性高的任務，讓開發者有更多時間和精神專注在創新、設計、架構及更多美好的事物上。目前全球已有超過 800 萬使用者、225 多個國家信任我們的產品。
                    </p>
                    <p>
                        <a href="https://www.jetbrains.com/" target="_blank" class="ha-btn">https://www.jetbrains.com/</a>
                    </p>
                </div>
            </div>
        </div>
        <br />
        <hr />
        <br />
        <div class="row">
            <div class="col-lg-6">
                <div class="ha-pic">
                    <img src="./img/sponsors/hackmd-logo.svg" width="500" alt="HackMD">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ha-text">
                    <h2>HackMD</h2>
                    <p>
                        HackMD 讓您在線上多人協作 Markdown 筆記，更支援簡報、圖表、數學表達式、標註留言等，讓內容更豐富，協作更便利。自上線以來，已經有超過兩百萬份筆記、以及超過六千個的團隊空間在 HackMD 上。無論是書寫筆記、便條、工作事項、教學文件，甚至是提供開放討論的社群平台，HackMD 都會是您絕佳的選擇。現在就開始使用 HackMD 吧！您也能用聰明的方式寫作！
                    </p>
                    <p>
                        <a href="https://hackmd.io/" target="_blank" class="ha-btn">https://hackmd.io/</a>
                    </p>
                </div>
            </div>
        </div>
        <br />
        <hr />
        <br />
        <div class="row">
            <div class="col-lg-6">
                <div class="ha-pic">
                    <img src="./img/sponsors/bizthinking-logo.jpg" width="500" alt="商業思維學院">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ha-text">
                    <h2>商業思維學院</h2>
                    <p>
                        商業思維學院是由 Gipi 游舒帆於 2019 年所創立的一個線上商學院。2019 年，Gipi 將「商業思維是每個人都必須具備的基本知識」這個觀念帶給大家。2020 年，學院花了一年的時間驗證與調整，已經見證了數百人的改變。2023 年，盤整了更多的資源，也修正了許多弱項，將帶給大家更棒更完整的商業思維學院 2.0。
                    </p>
                    <p>
                        新版的學院 2.0 有三個特色：1) 脈絡性、系統化的內容。2) 強調動手做，真的學得會、用得上。3) 我們堅信打造學習場域比提供學習資源重要。
                    </p>
                    <p>
                        <a href="https://bizthinking.com.tw/" target="_blank" class="ha-btn">商業思維學院官方網站</a>
                    </p>
                    <p>
                        <a href="https://www.facebook.com/groups/bizthinking" target="_blank" class="ha-btn">商業思維學院交流社團</a>
                    </p>
                </div>
            </div>
        </div>
        <br />
        <hr />
        <br />
        <div class="row">
            <div class="col-lg-6">
                <div class="ha-pic">
                    <img src="./img/sponsors/klickklack-logo.svg" width="500" alt="KlickKlack">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ha-text">
                    <h2>KlickKlack</h2>
                    <h2>可立可股份有限公司</h2>
                    <p>
                        KlickKlack Communications - 極致的網路體驗，來自超過千次的服務。可立可提供專業顧問服務，解決企業、品牌、廣告公關在網路需求上的痛點。累計 1000+ 活動場次的服務經驗，提升活動品質，品牌策展無後顧之憂。亦為 100+ 間企業建置穩定、快速的網路環境，可隨客戶規模彈性調整。
                    </p>
                    <p>
                        <a href="https://www.kkco.com.tw/" target="_blank" class="ha-btn">https://www.kkco.com.tw/</a>
                    </p>
                    <p>
                        <a href="#" class="ha-btn">大會指定網路供應商</a>
                    </p>
                </div>
            </div>
        </div>
        <br />
        <hr />
        <br />
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <a href="https://www.accupass.com/">
                            <div class="blog-item blog-item-bg-format" style="background-image: url('./img/sponsors/accupass_logo.png');">
                                <div class="bi-tag bg-gradient">ACCUPASS 活動通</div>
                                <div class="bi-text bi-text-format">
                                    <span>集結論壇、展覽、講座、免費體驗及各式有趣活動資訊；無論您想要找活動或者辦活動，方便的線上售票及活動報名功能都是您事半功倍的好幫手</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="https://www.facebook.com/groups/AzureTWUG">
                            <div class="blog-item blog-item-bg-format" style="background-image: url('./img/sponsors/azure-taiwan-user-group.jpg');">
                                <div class="bi-tag bg-gradient">Azure Taiwan User Group</div>
                                <div class="bi-text bi-text-format">
                                    <span>不定期會舉辦實體的社團活動，鼓勵更多使用 Microsoft Azure 的用戶面對面交流</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        @*<div class="row">
            <div class="container">
            <div class="row">
            <div class="col-md-3">
            <div class="blog-item" style="background-color:grey;">
            <div class="bi-tag bg-gradient">社群</div>
            <div class="bi-text">
            <h5><a href="./blog-details.html">Azure Taiwan</a></h5>
            <span><i class="fa fa-clock-o"></i> 19th May, 2019</span>
            </div>
            </div>
            </div>
            <div class="col-md-3">
            <div class="blog-item" style="background-color:grey;">
            <div class="bi-tag bg-gradient">社群</div>
            <div class="bi-text">
            <h5><a href="./blog-details.html">Azure Taiwan</a></h5>
            <span><i class="fa fa-clock-o"></i> 19th May, 2019</span>
            </div>
            </div>
            </div>
            <div class="col-md-3">
            <div class="blog-item" style="background-color:grey;">
            <div class="bi-tag bg-gradient">社群</div>
            <div class="bi-text">
            <h5><a href="./blog-details.html">Azure Taiwan</a></h5>
            <span><i class="fa fa-clock-o"></i> 19th May, 2019</span>
            </div>
            </div>
            </div>
            <div class="col-md-3">
            <div class="blog-item" style="background-color:grey;">
            <div class="bi-tag bg-gradient">社群</div>
            <div class="bi-text">
            <h5><a href="./blog-details.html">Azure Taiwan</a></h5>
            <span><i class="fa fa-clock-o"></i> 19th May, 2019</span>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>*@
    </div>
</section>
<!-- Sponsor Section End -->
@code {

}
