@page "/Organizer"
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>主辦單位</h2>
                    <h4>Organizer</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Sponsor Section Begin -->
<section class="home-about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="ha-pic">
                    <img src="./img/organizer/study4-logo.svg" width="500" height="300" alt="STUDY4">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ha-text">
                    <h2>STUDY4</h2>
                    <p>
                        STUDY4 是成立超過 10 年的技術社群，有很喜歡搞 DB 的
                        DBA、喜歡寫前端的前端工程師、愛開發行動裝置的開發人員，無論是甚麼樣的技術，我們都喜歡一起來討論、研究。我們重視人與人之間的互動經過，希望能和您一起來討論。
                    </p>
                    <p>
                        我們希望藉由社群推廣的力量，來讓台下的朋友聽到來自不同縣市的大師講課，也讓台上年輕一輩的技術傳教士能不斷的琢磨並且追上大師。我們這個社群希望透過分享，給偏遠地區、年輕一輩、每一個人，多那麼一點機會。
                    </p>
                    <p>
                        <a href="https://study4.tw/" target="_blank" class="ha-btn">https://study4.tw/</a>
                    </p>
                </div>
            </div>
        </div>
        @* <br />
        <br />
        <div class="row">
            <div class="col-lg-6">
                <div class="ha-pic">
                    <img src="./img/organizer/build-school-logo.jpg" width="500" height="300" alt="Build School">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ha-text">
                    <h2>Build School</h2>
                    <p>
                        Build School 是最酷的軟體工程與IT專業培訓學校，幫助想搭上軟體及網路經濟的學員們，打造更有競爭力的職涯；透過身經百戰的實務講師、企業資深工程師或 CTO，帶領學員實作真正能運作的產品，解決真實世界的問題，成為專業的軟體工程師。
                    </p>
                    <p>
                        我們也協助企業更有效的找到專業軟體及 IT 人才! 成立 7 年培育了近 500 位軟體與資訊人才，也成立了「台灣青築未來協會 Build the Future」，由 Build School 校友群所組成之協會，持續與 Microsoft 台灣微軟合作公益培訓並參與其旭日計畫，協助職場與社會人士及青年學子養成數位技能以提升就業力；與微軟合作推廣認證、數位技能及軟體技術至 2023/11 月亦將達 1,500 人次培訓。
                    </p>
                    <p>
                        若您有軟體工程師徵才需求，期待與企業先進們於現場多多交流、或於官網/粉專留訊，謝謝您!
                    </p>
                    <p>
                        <a href="https://www.build-school.com/" target="_blank"
                            class="ha-btn">https://www.build-school.com/</a>
                    </p>
                </div>
            </div>
        </div> *@
    </div>
</section>

<hr />

<!-- Sponsor Section End -->
<section class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>合作單位</h2>
                    <h4>Cooperating Partner</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="home-about-section">
    <div class="container">
        @* <div class="row">
            <div class="col-lg-6">
                <div class="ha-pic">
                    <img src="./img/organizer/microsoft-logo.svg" width="500" height="300" alt="Microsoft 台灣微軟">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ha-text">
                    <h2>Microsoft 台灣微軟</h2>
                    <p>
                        微軟是全球科技產業的領航者，提供全球領先的軟體、服務、設備和解決方案，自 1975 年成立以來，一直致力於幫助個人和企業用戶，全面發揮科技潛能，實現夢想。
                    </p>
                    <p>
                        四十多年來，微軟一直專注於技術創新與變革，透過卓越的軟體、設備和服務，能夠幫助用戶提昇生活和工作生產力，讓數億的使用者真正受益於科技。微軟公司總部位於美國華盛頓州 Redmond，在全世界超過
                        190 個國家和地區設有分公司或是分支機構，擁有超過 125,000 名員工。
                    </p>
                    <p>
                        微軟執行長 Satya Nadella
                        在上任後提出了新願景：「在這個行動優先、雲端至上的世界裡，微軟的核心競爭力，就是成為一個提供生產力與平台的公司，幫助在這個地球上的每一個人到每一個組織，都能貢獻更多、成就更大。」
                    </p>
                    <p>
                        台灣微軟成立於 1989 年，身為政府、學校與企業最值得信賴的夥伴，始終致力於幫助台灣提升創新力、競爭力以及促進經濟繁榮，共同來亮點台灣！
                    </p>
                    <p>
                        <a href="https://www.microsoft.com/zh-tw/" target="_blank"
                            class="ha-btn">https://www.microsoft.com/zh-tw/</a>
                    </p>
                </div>
            </div>
        </div> *@
        <br />
        <br />
        <div class="row">
            <div class="col-lg-6">
                <div class="ha-pic">
                    <img src="./img/sponsors/tsmc-logo.svg" width="500" alt="台積電">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ha-text">
                    <h2>TSMC</h2>
                    <h2>TSMC 台灣積體電路製造股份有限公司</h2>
                    <p>
                        台積公司是世界領先的專業積體電路製造服務公司，背後關鍵秘訣是：Fab runs on code ── 跑在程式碼上的晶圓廠。台積IT是半導體前瞻製程的重要支援夥伴，產品藍圖涵蓋資通訊建構、AI 應用、技術系統及企業系統，服務的使用者來自工廠、企業員工及合作夥伴。我們匯聚全球頂尖人才，打造雲原生和數位卓越。Change is happening. Join us now!
                    </p>
                    <p>
                        Change is happening. Join us now!
                    </p>
                    <p>
                        <a href="https://www.tsmc.com/chinese/" target="_blank"
                            class="ha-btn">https://www.tsmc.com/chinese/</a>
                    </p>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-lg-6">
                <div class="ha-pic">
                    <img src="./img/sponsors/HouseFun-logo.svg" width="500" alt="成功國際攝影">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ha-text">
                    <h2>好房網 HouseFun</h2>
                    @* <p>TBD</p> *@
                    <p>
                        <a href="https://www.housefun.com.tw/" target="_blank"
                            class="ha-btn">https://www.housefun.com.tw/</a>
                    </p>
                </div>
            </div>
        </div>
        @* <br />
        <br />
        <div class="row">
            <div class="col-lg-6">
                <div class="ha-pic">
                    <img src="./img/sponsors/xvideo-logo.svg" width="500" alt="成功國際攝影">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ha-text">
                    <h2>成功國際攝影</h2>
                    <p>
                        成功國際攝影專注於直播、導播、多地轉播技術，深耕台灣、中國兩岸三地拍攝，從簡單的研討會攝影、花絮拍攝，到困難的多地直播轉播都是我們的強項，專門承接各企業具有挑戰性的任務，攝影棚使用 1G
                        高速專線火速交件。
                    </p>
                    <p>
                        我們的指導原則【我待客戶如初戀、客戶許願就實現】，我們深信您的 KPI 就是我們的 KPI，所以只有您成功了，我們才可以成功，遵循 DevOps
                        大原則，首創敏捷式急速剪輯，只要客戶要求，可以達到今日事今日畢，滿足您急著上檔的專案。
                    </p>
                    <p>
                        <a href="https://www.xvideo.com.tw/" target="_blank"
                            class="ha-btn">https://www.xvideo.com.tw/</a>
                    </p>
                </div>
            </div>
        </div> *@
        @* <br />
        <br />
        <div class="row">
            <div class="col-lg-6">
                <div class="ha-pic">
                    <img src="./img/sponsors/hackmd-logo.svg" width="500" alt="HackMD">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ha-text">
                    <h2>HackMD</h2>
                    <p>
                        HackMD 是以 Markdown 為本，追求流暢、簡潔的線上協作筆記。無論是社群多人編輯、團隊溝通共筆、個人便捷紀錄，HackMD
                        支援多種語法、圖表、數學表達式，搭配書本模式、簡報模式跟留言互動功能。讓筆記，不只是筆記。上線至今，已經有超過 5,000,000 份筆記，以及超過 27,000 個團隊空間使用。HackMD
                        能夠便捷寫作、版面俐落，聰明的筆記整理方法，受到國內外用戶的喜愛。從下筆、編輯、共筆到發表，HackMD 讓你的知識最有效率地呈現，跟人們以最流暢的速度分享。
                    </p>
                    <p>
                        在 HackMD 開啟一份新筆記吧！
                    </p>
                    <p>
                        <a href="https://hackmd.io/" target="_blank" class="ha-btn">https://hackmd.io/</a>
                    </p>
                </div>
            </div>
        </div> *@
        <br />
        <br />
        @* <div class="row">
        <div class="col-lg-3">
        <div class="ha-pic">
        <img src="./img/sponsors/hackmd-logo.svg" width="500" height="300" alt="HackMD">
        </div>
        </div>
        <div class="col-lg-3">
        <div class="ha-text">
        <h2>HackMD</h2>
        <p>
        HackMD 是以 Markdown 為本，追求流暢、簡潔的線上協作筆記。無論是社群多人編輯、團隊溝通共筆、個人便捷紀錄，HackMD
        支援多種語法、圖表、數學表達式，搭配書本模式、簡報模式跟留言互動功能。讓筆記，不只是筆記。上線至今，已經有超過 5,000,000 份筆記，以及超過 27,000 個團隊空間使用。HackMD
        能夠便捷寫作、版面俐落，聰明的筆記整理方法，受到國內外用戶的喜愛。從下筆、編輯、共筆到發表，HackMD 讓你的知識最有效率地呈現，跟人們以最流暢的速度分享。
        </p>
        <p>
        在 HackMD 開啟一份新筆記吧！
        </p>
        <p>
        <a href="https://hackmd.io/" target="_blank" class="ha-btn">https://hackmd.io/</a>
        </p>
        </div>
        </div>
        <div class="col-lg-3">
        <div class="ha-pic">
        <img src="./img/organizer/ithome-logo.svg" width="500" height="300" alt="iThome">
        </div>
        </div>
        <div class="col-lg-3">
        <div class="ha-text">
        <h2>iThome</h2>
        <p>
        iThome電腦報周刊是臺灣資訊類雜誌中發行量最大的 IT 雜誌，長期報導企業資訊應用、IT 管理、資訊產品與技術發展。主要讀者群為企業中的 CIO、IT/MIS 人員、App 或軟體開發從業人員、CEO 等。旗下網站包括
        iThome 新聞網站、臺灣大型 IT 知識社群「iT 邦幫忙」。另每年在臺舉辦大型技術研討會如臺灣資安大會、臺灣雲端大會、ModernWeb、Kubernetes Summit、DevOpsDays
        Taipei、Agile Summit、IT EXPLAINED Webinar 等。
        </p>
        <p>
        <a href="https://ithome.com.tw/" target="_blank" class="ha-btn">https://ithome.com.tw/</a>
        </p>
        </div>
        </div>
        </div> *@
    </div>
</section>
@code {

}
